/* reset rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, svg {
    max-width: 100%;
}

ul, ol, li, menu {
    list-style: none;
}

/* fine reset rules */



/* debugging section */
.debug .container {
    border: 2px dashed tomato;
    padding: 15px;
}

.debug .row, .debug .col {
    border: 2px dashed cornflowerblue;
    padding: 15px;
}

/* fine debugging section */



/* general rules */
.row {
    display: flex;
}

.row.reverse {
    flex-direction: row-reverse;
}

.button {
    text-align: center;
    line-height: 0;
    border: 1px solid black;
    height: 25px;
    border-radius: 50px 50px;
    padding: 15px 10px;
}

.button.white {
    color: #23272a;
    background-color: white;
    border-color: white;
}

.button.darkgrey {
    color: white;
    background-color: #23272a;
    border-color: #23272a;
}

.header,
.hero-banner {
    color: white;
}
/* fine general rules */



/* navbar rules */
.bg-header {
    background-color: #255ee9;
}

.row.row-header {
    justify-content: space-between;
    align-items: center;
    gap: 0 50px;
}

.row.row-header > .col {
    flex-basis: 100px;
}

.row.row-header > .col-nav {
    flex-grow: 1;
}

.ul-nav {
    display: flex;
    justify-content: space-around;
}
/* fine navbar rules */


/* hero-banner */
.container-small {
    max-width: 700px;
    margin: 0 auto;
    padding: 15px;
}

.hero-banner {
    background-image: url(../img/discord-assets/jumbo.png);
    background-size: cover;
}

.hero-banner .row-hero {
    text-align: center;
}

.col-hero > * {
    padding: 10px 0;
}

.cta {
    display: flex;
    justify-content: center;
    gap: 0 30px;
}

.col-hero h1 {
    font-size: 36px;
}

/* fine hero-banner */




/* high-level layout rules */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 15px;
}

.home-main {
    min-height: 500px;
}

.home-footer {
    min-height: 250px;
}
/* fine layout rules */

/* layout main (3 double-col sections + 1 mono-col) */
.row-main-2-col > .col-text {
    flex-basis: calc(100% / 3);
    min-height: 200px;
}

.row-main-2-col > .col-img {
    flex-basis: calc((100% / 3) * 2);
    min-height: 200px;
}

.row-main-1-col > .col {
    flex-basis: 100%;
    min-height: 200px;
}

.bg-main:nth-child(odd) {
    background-color: white;
}

/* fine layout main

/* layout footer, 2 sections (1 info section, 1 logo+button) */
.bg-foot {
    background-color: black;
    color: white;
}

.row-foot-5-col > .col {
    flex-basis: calc(100% / 6);
    min-height: 100px;
}

.row-foot-5-col > .col:first-child {
    flex-basis: calc((100% / 6) * 2);
    min-height: 250px;
}

.row-foot-2-col {
    justify-content: space-between;
}

.row-foot-2-col > .col {
    flex-basis: calc(100% / 5);
    text-align: center;
}

/* fine layout footer */